.table-container{
    padding: 2% 10%;
    .button-primary{
        margin: auto;
}
}
.order-container{
    display: flex;
    flex-direction: column;
    gap: 16px;
    .order{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        text-align: end;
        h4{
            font-weight: 500;
        }
    }
}