.table-container {
    padding: 20px;
}

section {
    padding: 20px 0;
}

.no-orders {
    text-align: center;
    color: #666;
    padding: 40px;
    font-style: italic;
}


table {
    width: 100%;
}